.home-header {
  margin-top: 1px;
  margin-bottom: 26px;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
  text-align: center;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
